{% extends "text-page.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/galerie.css">
{% endblock %}

{% block text %}
<h1>Galerie</h1>
<div>
  Cliquer sur l'image pour l'agrandire et sur <span class="shadowed"><img src="{{ SITEURL }}/theme/assets/img/play.svg" style="width: 25px;" /></span> pour charger le code dans Basthon.
</div>
<p>
<div class="gallery">
  {{ SITEURL|galerie }}
</div>
{% endblock %}
